<h1>Thx for the vote !</h1>
<h2>Current Results:</h2>
<p><b>Total votes: </b> {{ totalVotes }}</p>
<p><b>Points / Stars:</b> <font color="green"><big>{{ usersRating }}</big></font></p>
{% if usersRating < 2%}
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
     <img src="{{ asset('bundles/bundleproject/images/blank_star.png') }}" width="30" height="30" />
      <img src="{{ asset('bundles/bundleproject/images/blank_star.png') }}" width="30" height="30" />
       <img src="{{ asset('bundles/bundleproject/images/blank_star.png') }}" width="30" height="30" />
        <img src="{{ asset('bundles/bundleproject/images/blank_star.png') }}" width="30" height="30" />
{% elseif usersRating < 3 %}
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
     <img src="{{ asset('bundles/bundleproject/images/blank_star.png') }}" width="30" height="30" />
      <img src="{{ asset('bundles/bundleproject/images/blank_star.png') }}" width="30" height="30" />
       <img src="{{ asset('bundles/bundleproject/images/blank_star.png') }}" width="30" height="30" />
{% elseif usersRating < 4 %}
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
     <img src="{{ asset('bundles/bundleproject/images/blank_star.png') }}" width="30" height="30" />
      <img src="{{ asset('bundles/bundleproject/images/blank_star.png') }}" width="30" height="30" />
{% elseif usersRating < 5 %}
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
     <img src="{{ asset('bundles/bundleproject/images/blank_star.png') }}" width="30" height="30" />
{% elseif usersRating == 5 %}
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleproject/images/star.png') }}" width="30" height="30" />
   
{% endif %}


