{# src/Bundle/ProjectBundle/Resources/Views/Reviews/index.html.twig #}

{% if reviews|length > 3 %}
    <div class="reviews-div" style="padding-right: 3px;height: 350px; overflow: scroll; overflow-x: hidden">
{% endif %}
            
    {% for key,review in reviews %}
        <div class="comment{{ cycle(['odd', 'even'], loop.index0) }}" style="border:0px solid black; padding:10px;margin-bottom: 0px">
            {% if review.authorUrl is not empty %}
                <h1>{{ key|abs+1 }}. <a href="{{ review.authorUrl }}" target="_blank"> {{ review.author }}</a> @ <font size="2"><b>{{ review.date|date }}</b></font></h1>
            {% else %}
                <h1>{{ key|abs+1 }}. <a href="#">{{ review.author }}</a> @ <font size="2"><b>{{ review.date|date }}</b></font></h1>
            {% endif %}
                <h2>User vote. aspect: {{ review.ratingAspect }} - rating: {{ review.rating }}</h2>
                <br />
                <p>{{ review.review }}</p>       
        </div>                
    {% else %}
        <p>No reviews for this place !</p>
    {% endfor %}
    
{% if reviews|length > 3 %}
    </div>
{% endif %} 
