{# src/Bundle/PlacesBundle/Resources/Views/Login/success.html.twig #}

{# login page  #}
{% extends 'BundlePlacesBundle::layout.html.twig' %}
{% block title %} Owner dashboard {% endblock %}


{% block body %}

{% if userName is defined %}
    <h2>Welcome, {{ userName }}</h2>
    
    {% if userId is defined %}
        <h4>Your id is: {{ userId }}</h4>
        <h4>Your role is: {{ role }}</h4>
    {% endif %}
    <a href="{{ path('logout') }}">Logout</a>
{% else %}    
    <h6>Please login <a href="{{ path('login') }}">here</a>.</h6>
{% endif %}

{% endblock %}