{% extends 'BundlePlacesBundle::base1.html.twig' %}
{% block content %}
    <div class="container-fluid">
    <div id="go_to_event"  ng-controller="goController">
        {% set counter = 0 %}
        {% for event in events %}

            <div  class="event-container" >
            <img src="{{event.image}}" class="eventimage" >
                <div class="description events"  ng-click="redirect('{{event.slug}}')" >
                    <span>{{event.title}} </span>
                    <p>{{event.description}}</p>
                    <p1>Event date: {{event.eventdate|date('m-d-Y H:i')}}</p1>
                 </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    function adjustEventContainer() {
      var w = $(window).width();
      var h = $(window).height();
      $('body').css('height', h + "px");
      $('body').css('width', w + "px");
      var evW = $("#main-container").width();
      var eventContainer = $(".event-container");

      if(evW > w) {
        if(w >= 1224 || (w >= 608 && w < 916)) {
          eventContainer.css("left", "-" + ((evW - w) / 2) + "px");
          if (w >= 608 && w < 916) {
            $(".search-input input").css({
              "height" : "90px",
              "border-top" : "solid 15px red",
              "border-bottom" : "solid 15px red",
              "border-left" : "solid 15px red",
              "font-size" : "32px",
              "padding-left" : "25px"
            });
          }
        }
        else {
          var diff = (w >= 916) ? 916 : 300;
          var wDiffLeft = (w - diff) / 2;
          eventContainer.css("left", "-" + (312 - wDiffLeft) + "px");
          if (diff == 300) {
            $(".search-input input").css({
              "height" : "50px",
              "border-top" : "solid 6px red",
              "border-bottom" : "solid 6px red",
              "border-left" : "solid 6px red",
              "font-size" : "16px",
              "padding-left" : "10px"
            });
          }
        }
      }
      else {
        eventContainer.css("left", "0px");
      }
    }
    $(document).ready(function() {
      adjustEventContainer();
      $( window ).resize(function() {
        adjustEventContainer();
      });
    });
  </script>
{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundleplaces/css/home.css') }}" />
{% endblock %}
