{% extends 'BundlePlacesBundle::base1.html.twig' %}
{% block content %}
    <div>
    <div id="go_to_event"  ng-controller="goController">
        {% set counter = 0 %}
        {% for event in events %}

            <div  class="event-container" >
            <img src="{{event.image}}" class="eventimage" >
                <div class="description events"  ng-click="redirect('{{event.slug}}')" >
                    <span>{{event.title}} </span>
                    <p>{{event.description}}</p>
                    <p1>Event date: {{event.eventdate|date('m-d-Y H:i')}}</p1>
                 </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}	

{% block javascript %}
     
{% endblock %}
                  
{% block stylesheets %}
     <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundleplaces/css/home.css') }}" />
{% endblock %}