{% block stylesheets %} 
<link href="http://vitalets.github.io/x-editable/assets/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">   
{% endblock %}
{% block javascript %}
<script src="http://vitalets.github.io/x-editable/assets/momentjs/moment.min.js"></script> 

{% endblock %}

{% if isowner == 1 %}
    {% if events.title == NULL and events.description == NULL %}

<input type="hidden" value="{{ place.placeid }}" id="dataid" >
<div class="alert hide" id="msg"></div>
<article id="event-article">asdasdasd
    <div class="images" id="imagepreview">
        <a style="color: #000000;border-bottom: none;" id="imagesEvent" data-original-title="Enter picture" data-name="picture" data-type="text" data-pk="1" href="#">
            <img class="img-e" id="poster" src="{{ events.image }}" width="160px" alt="poster" >
        </a>
    </div>
    <header>
        <a data-original-title="Enter title" data-name="title" data-type="text" id="title" class="myeditable editable editable-click editable-empty" href="#"></a>
    </header>

    <p>
        <a class="editable editable-click editable-empty" data-value="" href="#" id="event" data-type="combodate" data-template="D MMM YYYY  HH:mm" data-format="YYYY-MM-DD HH:mm" data-viewformat="MMM D, YYYY, HH:mm" data-pk="1" data-title="Setup event date and time">

        </a>
    </p>
    <span id="imagetag"> </span>
    <p><a style="color: #000000;border-bottom: none;" data-original-title="Enter body" data-name="body" data-type="textarea" class="myeditable editable editable-click editable-empty" href="#">{{ events.description }}</a></p>
    <div class="submit-but-div">
        <button class="btn btn-primary" id="save-btn">Save changes</button>
    </div>
</article>
    {% else %}
<input type="hidden" value="{{ place.placeid }}" id="dataid" >
<article id="event-article">
    <div class="images" id="imagepreview">
        <a style="color: #000000;border-bottom: none;" id="imagesEvent" data-original-title="Enter picture" data-name="picture" data-type="text" data-pk="1" href="#">
            <img class="img-e" id="poster" src="{{ events.image }}" width="160px" alt="poster" >
        </a>
    </div>
    <header>
        <a style="color: #000000;border-bottom: none;" data-original-title="Enter title" data-name="title" data-type="text" id="title" class="myeditable editable editable-click editable-empty" href="#">{{ events.title }}</a>
    </header>

    <p>
        <a class="editable editable-click editable-empty" data-value="{{ events.eventdate.date }}" href="#" id="event" data-type="combodate" data-template="D MMM YYYY  HH:mm" data-format="YYYY-MM-DD HH:mm" data-viewformat="MMM D, YYYY, HH:mm" data-pk="1" data-title="Setup event date and time">
            {{ events.eventdate.date }}
        </a>
    </p>
    <span id="imagetag"> </span>
    <p><a style="color: #000000;border-bottom: none;" data-original-title="Enter body" data-name="body" data-type="textarea" class="myeditable editable editable-click editable-empty" href="#">{{ events.description }}</a></p>

</article>
<div id="left-paginate"> <div class="arrow-left"></div>   </div>
<div id="right-paginate"> <div class="arrow-right"></div> </div>

    {% endif %}

    {% else %}




        {% if events.title == NULL and events.description == NULL %}
            <h2> No event defined.</h2>
        {% else %}
            <article>
                <div class="images">
                    <img class="img-e" id="poster" title="" src="{{ events.image }}">
                </div>
                <header><a title="" href="#">{{ events.title }}</a></header>
                <p>{{ events.eventdate.date|date("d/m/Y") }}</p>

                <p></p>
                <p>{{ events.description }}</p>
                <p></p>

            </article>
        {% endif %}
{% endif %}