<article>
    <input id="lat" type="hidden" value="{{ place.placelat }}" />
    <input id="lng" type="hidden" value="{{ place.placelng }}" /> 
    <input type="hidden" id="toAddress" name="to" value="{#{{ placeAddress }}#}" placeholder="destination address"/>
    <div id="directions" style="display:none;"></div>
    <div class="images">
        {% if placePhotos is not empty %}
                <img src="{{ placePhotos[0].imgUrl }}" title="{{ place.placename }}"/>
        {% else %}
              <span class="glyphicon glyphicon-picture icon-font-size-verylarge"></span>
        {% endif %}
    </div>
    <header><a href="{{ place.placeurl }}" target="_blank" title="{{ place.placename }}">{{ place.placename }}</a></header>
    
    <aside class="element-bar">
        <ul class="rating-stars">                
           {% for i in 1..5%}
                {% if i <= place.placerating %}
                    <li></li>               
                {% else %}
                    <li class='red'></li>
                {% endif%}
            {% endfor %}
        </ul>
        <ul class="social-bar">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </aside>
    <p>
        <p><b>Phone: </b>{{ place.placephonenumber }}</p>
        <p><b>Address: </b>{{ place.placevicinity }}</p>
        <p><b>Geo Location: </b>
            Lat.{{ place.placelat }}. 
            Lng.{{ place.placelng }}.
        </p>  
        <p><b>WebSite: </b>{{ place.placeWebSite }}</p>
    </p>
</article><!--end article -->  