<input id="nrplaces" type="hidden" value="{{ nrplaces }}" />
<input id="pagplaces" type="hidden" value="{{ pag }}" />
{% for place in places %}
    <li>
        <section>
            <a id="{{ place.placeId }}" class="it" href="{{ path('renderPlace',{'param':place.slug}) }}">
                <header>{{ place.placeName }}</header>
                <ul class="rating-stars">                
                   {% for i in 1..5%}
                        {% if i <= place.placeRating %}
                            <li></li>               
                        {% else %}
                            <li class='red'></li>
                        {% endif%}
                    {% endfor %}
                </ul>
            </a>
        </section>
    </li>
{% endfor %}

