{# src/Bundle/PlacesBundle/Resources/Views/Store/show.html.twig #}
{% extends 'BundlePlacesBundle::layout.html.twig' %}
{% block title %} Place Info {% endblock %}
{% block body %}  
<article>
    <hgoup>
        <h1>Place Details</h1>
    </hgoup>
    
    
    {% for place in places %}
    {#
    <p>{{ place.placeid }}</p>
    <p>Current ip: {{ ip }}</p>
    #}
    {#<p>{{ detailsRef }}</p>#}
        {# hidden types #}
    <input id="name" type="hidden" value="{{ place.placename }} - {{ place.placetype|capitalize }}" />
        <input id="lat" type="hidden" value="{{ place.placelat }}" />
        <input id="lng" type="hidden" value="{{ place.placelng }}" />
        <input id="extId" type="hidden" value="{{ place.placeid }}" />
        <input id="ip" type="hidden" value="{{ ip }}" />
        
        <div>
           <div style="float:left">
               <a href="{{ place.placeid|abs-1 }}">
                   <img src="{{ asset('bundles/bundleplaces/images/left.png') }}" width="50" height="50" title="Previous Store"/>
               </a>
           </div>
           <div style="float:right">
               <a href="{{ place.placeid|abs+1 }}">
                   <img src="{{ asset('bundles/bundleplaces/images/right.png') }}" width="50" height="50" title="Next Store"/>
               </a>
           </div>   
        </div>
        <br /> 
        <div class="coffeStore" style="clear:both">
            <p>Place id: {{ place.placeid }}</p>
            <a href="{{ path('places_showPlace', { 'id':place.placeid }) }}"/>{{ place.placename }}</a>
            {% for photo in placePhotos %}
                <p><img src="{{ photo.img_url }}" title="{{ place.placename }}"/></p>
            {% endfor %}
            <p>
                <a href="{{ place.placeurl }}" target="_blank" title="{{ place.placename }}">
                    <img src="{{ place.placeicon }}"/>
                </a>
            </p>
            <p><big>{{ place.placename }}</big></p>
            <p><b>Phone: </b>{{ place.placephonenumber }}</p>
            <p><b>Type: </b> {{ place.placetype }}</p>
            <p><b>Addr: </b> {{ place.placevicinity }}</p>
            <p><b>Geo Location: </b><u>Lat. </u>{{ place.placelat }}. <u>Lng.</u>{{ place.placelng }}.</p>
            {% if place.placerating|length != 0 %}
                <p><b>Ratings: <big><font color="green">{{ place.placerating }}</font></b></big> / 5 points.</p>
            {% else %}
                <p><b>Ratings: </b> No ratings available for this store.</p>
            {% endif %}
                <p><b>WebSite: </b>{{ place.placewebsite }}</p>
           
        </div>
       
        <div id="voteSection">
            <hgroup>
                <h1>Vote section</h1>
                <h2>Users ratings</h2>
            </hgroup>
            
            {% if bool is defined %} {# client already voted ! #}
                <p><b>Total votes: </b>{{ totalVotesAllTime }} votes (for all places)</p>
                <p><b>Total votes: </b>{{ totalVotes }} vote(s).</p>
                <p><b>Points / Stars:</b> <font color="green"><big>{{ usersRating }}</big></font></p>
{% if usersRating < 2%}
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
     <img src="{{ asset('bundles/bundleplaces/images/blank_star.png') }}" width="30" height="30" />
      <img src="{{ asset('bundles/bundleplaces/images/blank_star.png') }}" width="30" height="30" />
       <img src="{{ asset('bundles/bundleplaces/images/blank_star.png') }}" width="30" height="30" />
        <img src="{{ asset('bundles/bundleplaces/images/blank_star.png') }}" width="30" height="30" />
    
{% elseif usersRating < 3 %}
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
     <img src="{{ asset('bundles/bundleplaces/images/blank_star.png') }}" width="30" height="30" />
      <img src="{{ asset('bundles/bundleplaces/images/blank_star.png') }}" width="30" height="30" />
       <img src="{{ asset('bundles/bundleplaces/images/blank_star.png') }}" width="30" height="30" />
{% elseif usersRating < 4 %}
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
     <img src="{{ asset('bundles/bundleplaces/images/blank_star.png') }}" width="30" height="30" />
      <img src="{{ asset('bundles/bundleplaces/images/blank_star.png') }}" width="30" height="30" />
{% elseif usersRating < 5 %}
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
     <img src="{{ asset('bundles/bundleplaces/images/blank_star.png') }}" width="30" height="30" />
{% elseif usersRating == 5 %}
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
    <img src="{{ asset('bundles/bundleplaces/images/star.png') }}" width="30" height="30" />
{% endif %}
            {% else %}
                <p>Select a star</p>
            <form>
                <br />1<input type="radio" name="vote" value="1" onclick="setVote(this.value);">
                2<input type="radio" name="vote" value="2" onclick="setVote(this.value);">
                3<input type="radio" name="vote" value="3" onclick="setVote(this.value);">
                4<input type="radio" name="vote" value="4" onclick="setVote(this.value);">
                5<input type="radio" name="vote" value="5" onclick="setVote(this.value);">
            </form>
            {% endif %}
        </div>
        
        <br />
        <h1>Map</h1>
        <br />
        <div id="googleMap" style="width:625px;height:380px; border:2px solid black; border-radius:5px"></div>
        <p id="lati"></p>
    {% endfor %}
</article>
<article>
    <hgroup>
        <h1>Comments</h1>
        <h2>Users thoughts about this place.</h2>
    </hgroup>
         {% for place in placeToShow %}
            <p>Total comments: {{ place.comments|length }}</p>
        {% endfor %}
    <div class="flip" id="flip">Show / Hide Comments</div>
    {# include comments view #}
    <div class="panel" id="panel">
        {% include 'BundlePlacesBundle:Comment:index.html.twig' with {'comments':comments} %}
    </div>
</article>
<article>
   
    <hgroup>
        <h1>Comments</h1>
        <h2>Share your thoughts about this place.</h2>
    </hgroup>
    <div class="flip" id="flip1">Show / Hide Comment Form</div>
    <div class="panel" id="panel1">
      {{ render(controller( 'BundlePlacesBundle:Comment:new', { 'place_id': id } )) }}
    </div>
    
</article>
{#
<article>
    <hgroup>
        <h1>Place</h1>
        <h2>All photos.</h2>
    </hgroup>
    {% if photos is defined %}    
        {% for photo in photos %}
            <p><img src="{{ photo.imgUrl }}" /></p>
        {% endfor %}
    {% else %}
            <p>Photos not avaiable.</p>
    {% endif %}
</article>#}
{% endblock %}

{% block javascript %} 

<script src="{{ asset('bundles/bundleplaces/js/loadMap.js') }}"></script>   
<script src="{{ asset('bundles/bundleplaces/js/processingVote.js') }}"></script>
{% endblock %}