{# voteResult response #}
<h1>Thx for the vote</h1>
<p>Yes: {{ yes }}</p>
<p>It's ok: {{ ok }}</p>
<p>Not really: {{ notReally }}</p>
<p>No: {{ no }}</p>
<br />
<p>Total: {{ totalVotes }}</p>

{#<p> {{ 100*(yes/(yes+ok+notReally+no))|number_format(2) }} </p>#}
<h1>Results:</h1>
<p>Yes: <img src="{{ asset('bundles/bundleplaces/images/poll.gif') }}" width="{{ 100*(yes/(yes+ok+notReally+no))|number_format(2) }}" height="20"/> {{ 100*(yes/(yes+ok+notReally+no))|number_format(2) }}%</p>
<p>Ok: <img src="{{ asset('bundles/bundleplaces/images/poll.gif') }}" width="{{ 100*(ok/(yes+ok+notReally+no))|number_format(2) }}" height="20"/> {{ 100*(ok/(yes+ok+notReally+no))|number_format(2) }}%</p>
<p>NotR: <img src="{{ asset('bundles/bundleplaces/images/poll.gif') }}" width="{{ 100*(notReally/(yes+ok+notReally+no))|number_format(2) }}" height="20"/>{{ 100*(notReally/(yes+ok+notReally+no))|number_format(2) }}%</p>
<p>No: <img src="{{ asset('bundles/bundleplaces/images/poll.gif') }}" width="{{ 100*(no/(yes+ok+notReally+no))|number_format(2) }}" height="20"/> {{ 100*(no/(yes+ok+notReally+no))|number_format(2) }}%</p>

{#
<br />
<h1>Result:</h1>
<table>
    <tr>
        <td>Yes:</td>
        <td>
            <img src="{{ asset('bundles/bundleplaces/images/poll.gif') }}" width="{{ 100*(yes/(yes+ok+notReally+no))|number_format(2) }}" height="20"/>% <img src="{{ asset('bundles/bundleplaces/images/poll.gif') }}" width="{{ 100*(yes/(yes+ok+notReally+no))|number_format(2) }}" height="20"/>%
        </td>
    </tr>
    <tr>
        <td>It's ok:</td>
        <td>
            <img src="{{ asset('bundles/bundleplaces/images/poll.gif') }}" width="{{ 100*(ok/(yes+ok+notReally+no))|number_format(2)) }}" height="20"/>%
        </td>
    </tr>
    <tr>
        <td>Not really</td>
        <td>
            <img src="{{ asset('bundles/bundleplaces/images/poll.gif') }}" width="{{ 100*(notReally/(yes+ok+notReally+no))|number_format(2) }}" height="20"/>%
        </td>
    </tr>
    <tr>
        <td>No:</td>
        <td>
            <img src="{{ asset('bundles/bundleplaces/images/poll.gif') }}" width="{{ 100*(no/(yes+ok+notReally+no))|number_format(2) }}" height="20"/>%
        </td>
    </tr>
</table> 
#}