{# src/Bundle/PlacesBundle/Resources/Views/base.html.twig #}
<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ asset('bundles/bundleplaces/images/icons/glyph-icons-gradient/magnifying-glass.png') }}" type="image/x-icon">
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Places App | {% block title %}  {% endblock %}</title>

        <!-- Stylesheets -->
        <!-- App css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundleplaces/css/app-core.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundleplaces/css/app-homepage.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundleplaces/css/app-typehead-styles.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundleplaces/css/app-slide-navigation.css') }}" />

        <!-- Bootstrap css -->
        <!--<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bundleplaces/css/bootstrap.min.css') }}" />-->
        <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.css" />

        <!-- Append css -->
        {% block css %} {% endblock %}
    </head>

    <body>
        <!-- Main wrapper -->
        <div id="main-box">

            <!-- Header -->
            <header id="header-section">
                {% block navigation %}
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <!-- Navbar stuff container (.container - align center) -->
                    <div class="container">
                        <!-- Navbar -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="navbar-brand logo-header">Places App</span>  
                            {# Navbar brand 
                            <a class="navbar-brand" href="#">Places App</a>
                            #}
                        </div>

                        <!-- Navbar collapse -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li id="li-home"><a href="{{ url('index') }}" title="Home"><span class="glyphicon glyphicon-home icon-font-size-smalll"></span></a></li>

                                <!-- Dropdown menu -->
                                <li id="li-dropdown" class="dropdown">
                                    {% if (userName is defined) and (userName is not empty) %}
                                        {# Member meunu #}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Menu"><span class="glyphicon glyphicon-user icon-font-size-smalll"></span>     {{ userName|capitalize }}  <b class="caret"></b></a>
                                    <ul class="dropdown-menu">

                                            {% if (socialLogged is defined) and (socialLogged is not empty) %}
                                        <li id="li-admin"><a href="{{ path('index') }}">Admin area</a></li>
                                            {% else %}
                                        <li id="li-admin"><a href="{{ path('admin_start') }}">Admin area</a></li>
                                            {% endif %}

                                        <li id="li-about"><a href="{{ path('about') }}">About</a></li>
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Google+</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Id: {{ userId }}</a></li>

                                            {% if (socialLogged is defined) and (socialLogged is not empty) %}
                                        <li id="li-logout"><a href="{{ path('clear') }}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                                            {% else %}
                                        <li id="li-logout"><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                                            {% endif %}

                                    </ul>
                                    {% else %}
                                        {# Default menu #}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Menu">Drowdown   <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li id="li-about"><a href="{{ path('about') }}">About</a></li>
                                        <li id="li-login"><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                                        <li><a href="#">Google+</a></li>
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Twitter</a></li>
                                    </ul>
                                    {% endif %}
                                </li>
                            </ul>

                            <!-- Search form -->
                            <form class="navbar-form navbar-left" action="{{ path('demoSearch') }}" method="post">
                                <div class="form-group">
                                    <input id="searchh" class="search typeahead form-control" type="text" name="input" placeholder="Search.." size="47"/>
                                </div>
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                <div id="autocomplete-result">                                                                    
                                </div>
                            </form>  
                            

                        </div><!-- /navbar-collapse -->
                        
                    </div> <!-- /container -->
                </nav><!-- /navbar -->
                {% endblock %}
            </header><!-- /header -->
            
            <!-- Main section -->
            <section id="main-section">
                <!-- Main section content container --> 
                <div class="container main-container">
                    <div class="row" style="border-bottom: 3px solid #ccc; padding:5px;">
                        {% block flashBag %}  {% endblock %}
                        <!-- Mobile first xs,sm,md,lg -->
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 app-left-content">
                            <!-- Main section 'float left' content -->
                            {% block body %} {% endblock %}
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 app-right-content">
                            <!-- Main section 'float right' content -->
                            {% block aside %} {% endblock %}
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <footer class="footer">
                <div class="container" style="border-top:1px solid #ccc;">
                    {% block footer %}
                    <div class="row">
                        <!-- ex,sm,md,lg -->
                        <div class="col-xs-12">
                            <!-- Nested -->
                            <div class="visible-xs">
                                Extra small screens - Phones
                                <p>&copy Penatalog Cluj-Napoca 2013.</p>
                            </div>
                            <div class="visible-sm">
                                Small screens - Tablets
                                <p>&copy Penatalog Cluj-Napoca 2013.</p>
                            </div>
                            <div class="visible-md">
                                Medium screens - Pc,Laptop,Notebook
                                <p>&copy Penatalog Cluj-Napoca 2013.</p>
                            </div>
                            <div class="visible-lg">
                                Large screens - Pc
                                <p>&copy Penatalog Cluj-Napoca 2013.</p>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </footer>
        </div><!-- /main wrapper -->

        <!-- Javascripts -->
        <!-- jQuery -->
        <script type="text/javascript" src="{{ asset('bundles/bundleplaces/js/jquery-1.9.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bundleplaces/js/jquery-ui.js') }}"></script>

        <!-- Bootstrap js -->
        <script type="text/javascript" src="{{ asset('bundles/bundleplaces/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bundleplaces/js/typeahead.js')  }}"></script>

        <!-- App js -->
        <script type="text/javascript" src="{{ asset('bundles/bundleplaces/js/app-social-signin.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bundleplaces/js/app-core.js') }}"></script>


        <script type="text/javascript">
            $(function() {
                $(".search").keyup(function()
                {
                    var searchid = $(this).val();
                    var dataString = 'search=' + searchid;
                    if (searchid != '')
                    {
                        $.ajax({
                            type: "POST",
                            url: "autocomaction",
                            data: dataString,
                            cache: false,
                            success: function(html)
                            {
                                $("#autocomplete-result").html(html).show();
                            }
                        });
                    }
                    return false;
                });

                jQuery("#autocomplete-result").on("click", function(e) {
                    var $clicked = $(e.target);
                    var $name = $clicked.parent().find('.name').html();
                    //alert($name);
                    var decoded = $("<div/>").html($name).text();
                    $('#searchh').val(decoded);
                });
                jQuery(document).on("click", function(e) {
                    var $clicked = $(e.target);
                    if (!$clicked.hasClass("search")) {
                        jQuery("#autocomplete-result").fadeOut();
                    }
                });
                $('#searchh').click(function() {
                    jQuery("#autocomplete-result").fadeIn();
                });
            });
        </script>
        <!-- Social sign-in plugin -->
        <script type="text/javascript">
            (function() {
                if (typeof window.janrain !== 'object')
                    window.janrain = {};
                if (typeof window.janrain.settings !== 'object')
                    window.janrain.settings = {};

                janrain.settings.tokenUrl = 'http://proiecte{{ path('testToken') }}';
                function isReady() {
                    janrain.ready = true;
                }
                ;
                if (document.addEventListener) {
                    document.addEventListener("DOMContentLoaded", isReady, false);
                } else {
                    window.attachEvent('onload', isReady);
                }

                var e = document.createElement('script');
                e.type = 'text/javascript';
                e.id = 'janrainAuthWidget';

                if (document.location.protocol === 'https:') {
                    e.src = 'https://rpxnow.com/js/lib/placeapp/engage.js';
                } else {
                    e.src = 'http://widget-cdn.rpxnow.com/js/lib/placeapp/engage.js';
                }

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(e, s);
            })();
        </script>
        {% block javascript %} 
            {# private js - overwrite in view if needed #}
        {% endblock %}
    </body>
</html>

                            {# Client Info #}
                                {% if userIp is defined %}
<p>Adddr: {{ userIp }}.</p>
                                {% endif %}

                                {% if userSiteHits is defined %}
<p>You visit this site <b>{{ userSiteHits }}</b> time(s).</p>
                                {% endif %}

                                {% if browserName is defined %}
                                    {% if browserVers is defined %}
<p>Browser Name: {{ browserName|capitalize }} <b>v.</b> {{ browserVers }}</p>
                                    {% endif %}
                                {% endif %}

                                {% if allTimeUsers is defined%}
<p>Trafic: <b>{{ allTimeUsers }}</b> unique users all time.</p>
                                {% endif %}